<style>
        @import url('https://fonts.googleapis.com/css?family=Titillium+Web');

        *{
            font-family: 'Titillium Web', sans-serif;
        }
            table,td{
            text-align: center;
            border: 3.5px solid #e75480;
      padding-top: 10px;
      padding-bottom: 10px;
      padding-left: 10px;
      padding-right: 10px;
      /* margin-right: -50px; */
      margin: auto;
      border: 10;
      /* width: 100%; */
      border-collapse: collapse; 
        }
        .logo img
        {height: 175px;
        	width: 346px;}
    img{
        padding:10px;
        height:200px;
        width:200px;
    }   
    div.card {
  width: 250px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  text-align: center;
  float: left;
   margin:10px;

}

.card:hover{
  box-shadow: 0 4px 8px 3px gray;
}
.topnav {
  background-color: #333;
  overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}

/* Add a color to the active/current link */
.topnav a.active {
  background-color: #4CAF50;
  color: white;
}

  {box-sizing:border-box}

body{
  background-color:#ffcccb;
  background-size: cover;
}
.form1{
  align-content: center;
  text-align: center;
}
.container1 {
  position: absolute
top :0;
left :0;
bottom: 0;
right :0;
margin: auto;
  background-color:#ffcccb;;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  overflow: hidden;
  width: 500px;
  max-width: 100%;
  text-align: center;
}

